* body {
  background-color: #faf9f5;
  font-size: larger;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

#header {
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.searchBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.citySearch {
  justify-content: baseline;
  padding: 7px 15px;
  font-size: 16px;
  width: 20%;
  margin: 15px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75);
}

.secondarySection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
 
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  width: 40%;
  padding: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

#primaryCard {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.secondaryCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  padding: 40px 10%;
  border-radius: 20px;
  border: 3px solid red;
  justify-content: space-between;
}

@media screen and (max-width: 480px) {
  
}

@media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 980px) {
  
}
