* body {
  background-color: #faf9f5;
  font-size: larger;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

#header {
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.searchBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.citySearch {
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  width: 20%;
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: rgba(255,255,255, 0.75);
}

.primarySection {
  text-align: center;
  padding: 5px;
}

.secondarySection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 15px;
  text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  width: 40%;
  padding: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
}

input {
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75);
}

.container {
  padding: 2px 16px;
}

#primaryCard {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.secondaryCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  padding: 40px 10%;
  border-radius: 20px;
  border: 3px solid red;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
